<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div class="container-fluid row">
  <% @orders.each do |order| %>
   <div class="col-sm">
 
    <div class="card border border-2 border-secondary p-1 mt-3" style="width: 15rem;">
 
      <div class="card-header"><%=order.product_name%></div>
      <div class="card-body"><%=order.product_count%> </div>
      <div class="card-footer"> <%= link_to 'Show', order, class: "btn btn-success btn-sm" %>
        <%= link_to 'Edit', edit_order_path(order), class: "btn btn-success btn-sm" %>
        <%= button_to "Delete", order, class: "btn btn-success btn-sm", method: :delete, data: { turbo_confirm: "Are you sure?"} %>
      </div>
    </div>
  </div>
 <% end %> 
</div>

</br>
<p>
<%= link_to 'New Order', new_order_path, class: "btn btn-success" %>
</p>
<p>
    <%= link_to "Back to customers", customers_path, class: "btn btn-success" %>
</p>